.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightslategray;
}

table {
  width: 80%;
}

#playerpiture {
  width: 50%;
}

#playerpic {
  width: 20%;
}

#search {
  background-color: rebeccapurple;
  color: white;
}

table, th, td {
  border: 1px solid lightslategray;
}

.App-link {
  color: #61dafb;
}

#buttonn {
  background-color: rebeccapurple;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
